@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/TTHoves-Bold.woff2") format("woff2"), url("../fonts/TTHoves-Bold.woff") format("woff");
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular.woff") format("woff");
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves-Medium.woff") format("woff");
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/TTHoves-Light.woff2") format("woff2"), url("../fonts/TTHoves-Light.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "TT Hoves";
}

.wrapper {
  margin: 0 125px;
  width: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
}

section {
  margin-bottom: 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.header {
  margin-top: 30px;
  height: 80px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333;
}

.header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
  padding: 0;
  margin: 0;
}

.list__item {
  margin-right: 60px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__item:last-child(1) {
  margin-right: 0;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1000;
  padding-top: 12px;
  right: 30px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  margin: 0;
  padding: 80px 0;
  text-align: center;
  background-color: rgba(39, 38, 38, 0.8);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.4);
}

.menu__item {
  text-align: center;
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.menu__item:hover {
  border-bottom: 2px solid #ffffff;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__box {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.main-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-section__title {
  margin-top: 365px;
}

.duplicate {
  display: none;
}

.first_title {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
  text-transform: uppercase;
}

.second_title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
}

.navigation__arrow {
  margin-top: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  margin: 0;
  height: 54px;
}

.main-page__arrow {
  margin-top: 90px;
  margin-bottom: 90px;
}

.arrow__left,
.arrow__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.right {
  margin-left: 23px;
}

.left,
.right {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 53px;
  height: 53px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}

.left:hover,
.right:hover {
  background: #eee;
}

.pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  height: 54px;
  width: 150px;
  margin-right: 25px;
  top: 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #bdbdbd;
}

.pagination span,
.pagination img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-current {
  margin-right: 25px;
}

.swiper-pagination-total {
  margin-left: 26px;
}

.swiper-pagination-current:before,
.swiper-pagination-total:before {
  content: "0";
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 819px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 818px;
  height: 829px;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.first-slide {
  background-image: url("../img/main_page/main.svg");
  background-position: center;
  background-size: cover;
}

.second-slide {
  background-image: url("../img/main2.jpg");
  background-position: center;
  background-size: cover;
}

.descriptoin__link {
  z-index: 10;
  position: absolute;
  background: #fff;
  width: 225px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  left: 0px;
  cursor: pointer;
}

.descriptoin__link .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.descriptoin__link .link .link__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-left: 15px;
}

.descriptoin__link:hover {
  background: #eee;
}

.about {
  margin-top: 120px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__info {
  padding-top: 30px;
}

.about__title {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}

.about__text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  text-align: left;
  width: 600px;
}

.about__link {
  background: #fff;
  width: 225px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  left: 0px;
  cursor: pointer;
}

.about__link:hover {
  background: #eee;
}

.about__link .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.about__link .link .link__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-left: 15px;
}

.about__link:hover {
  background: #eee;
}

.images-group {
  padding-top: 30px;
}

.item1 {
  margin-bottom: 30px;
}

.item3 {
  margin: 60px 30px;
  padding: 0;
}

.main-task {
  margin-top: 70px;
}

.main-task__title {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}

.main-task__tasks {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-task__first, .main-task__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-task__first--image, .main-task__second--image {
  height: 144px;
  margin-right: 30px;
  width: auto;
}

.main-task__first--text {
  height: 144px;
  width: 280px;
}

.main-task__first--text p {
  height: 144px;
  text-align: left;
  line-height: 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #333333;
}

.main-task__second--text {
  height: 144px;
  width: 420px;
}

.main-task__second--text p {
  height: 144px;
  text-align: left;
  line-height: 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #333333;
}

.project {
  margin-top: 120px;
}

.project__title {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
  margin-bottom: 60px;
}

.project__gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 255px 255px auto;
  -ms-grid-columns: (70px)[12];
      grid-template: 255px 255px auto/repeat(12, 70px);
}

.project__gallery--link {
  position: relative;
  background-repeat: no-repeat;
}

.project__gallery--link:hover .project__item--link {
  display: block;
}

.project__gallery--button {
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #333333;
  cursor: pointer;
}

.project__gallery--button .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.project__gallery--button .link .link__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-left: 15px;
}

.project__gallery--button:hover {
  background: #0c0b0b;
}

.project__item--link {
  position: absolute;
  width: 100%;
  background: #333333;
  opacity: 0.8;
  display: none;
  height: 100%;
  color: #fff;
}

.item-link1 {
  background-image: url(../img/main_page/our_project1.svg);
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.item-link2 {
  background-image: url(../img/main_page/our_project2.svg);
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
}

.item-link3 {
  background-image: url(../img/main_page/our_project5.svg);
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.item-link4 {
  background-image: url(../img/main_page/our_project4.svg);
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / 9;
}

.item-link5 {
  background-image: url(../img/main_page/our_project3.svg);
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.item-link6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10 / 13;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items div {
  margin: 0 auto;
}

.link-title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  margin: 0 auto;
  line-height: 64px;
  margin-top: 48px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.items-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.items-link:hover {
  color: #b3b3b3;
}

.link__text {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.contact {
  margin-bottom: 120px;
}

.contact__title {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
  margin-bottom: 22px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.js-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 390px;
}

.js-form input {
  width: 100%;
  height: 45px;
  background: #f3f3f3;
  margin-top: 10px;
  border: none;
  padding-left: 20px;
}

.js-form textarea {
  resize: none;
  width: 100%;
  height: 145px;
  background: #f3f3f3;
  margin-top: 10px;
  border: none;
  padding-left: 20px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 17px;
}

.js-form input[type="checkbox"] {
  display: none;
}

.js-form input:-ms-input-placeholder,
.js-form textarea:-ms-input-placeholder,
.js-form input::-ms-input-placeholder,
.js-form textarea::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #8d8d8d;
}

.js-form input::-ms-input-placeholder,
.js-form textarea::-ms-input-placeholder,
.js-form input::-ms-input-placeholder,
.js-form textarea::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #8d8d8d;
}

.js-form input::placeholder,
.js-form textarea::placeholder,
.js-form input::-ms-input-placeholder,
.js-form textarea::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #8d8d8d;
}

.js-form input:focus {
  border: #eee;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #333333;
  margin-top: 10px;
  cursor: pointer;
}

.checkbox__text::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox__text::before {
  text-align: center;
  background-image: url("../img/checked.svg");
  background-size: 100%;
}

input[type="checkbox"] + .checkbox__text::before {
  text-align: center;
  background: #f3f3f3;
  border: #0c0b0b;
}

.submit {
  margin-top: 20px;
  background: transparent;
  outline: none;
  border: none;
  width: 222px;
  height: 71px;
  background: #333333;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.submit:hover {
  background: #0c0b0b;
}

.submit__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-left: 15px;
}

.submit__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.form-image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background: #2c2c2c;
  background-position: bottom;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  padding-top: 60px;
  margin-bottom: 55px;
}

.footer__items--logo {
  width: 150px;
}

.footer__logo {
  width: 148px;
  height: 95px;
}

.footer__item--title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__item--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item--list--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item--link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  margin-top: 24px;
  color: #ffffff;
  cursor: pointer;
}

.footer__item--link p {
  border-bottom: 2px solid #2c2c2c;
  max-width: 340px;
}

.footer__item--link p:hover {
  border-bottom: 2px solid #fff;
}

.footer__item--link img {
  margin-right: 15px;
}

.footer__item--link--social {
  margin-right: 40px;
  width: 21px;
  height: 20px;
}

.footer__item--link--social:hover {
  border-bottom: 2px solid #fff;
}

.footer__item--link--pinterest {
  margin-right: 0;
}

.footer__copy {
  border-top: 1px solid #ffffff;
  width: 100%;
  height: 85px;
  position: relative;
}

.footer__copy--text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(200, 200, 200, 0.5);
}
/*# sourceMappingURL=style.css.map */